pyOpenSSL==19.1.0 ; python_version <= "3.6"
cryptography<3.0,>=2.8 ; python_version < "3.6"
idna<2.9,>=2.5 ; python_version <= "3.6"
requests==2.21.0 ; python_version <= "3.6"
setuptools==36.2.0 ; python_version <= "3.6"



requests==2.27.1 ; python_version > "3.6"
pyOpenSSL==22.0.0 ; python_version > "3.6"
cryptography==37.0.2 ; python_version >= "3.6"
setuptools==62.3.2 ; python_version > "3.6"


six>=1.16
